<html>
    <head>
        <title>Admin EP Page </title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome To My Application Based on EJS ,Admin EP Page </h1>

        <a href="/admin/">Home Page Admin</a>
        <a href="/admin/epadmin">Edit Profile Page</a>
        <a href="/admin/cpadmin">Change Password Page</a>
        <a href="/admin/manageuser">Manage Users Page</a>
        <a href="/admin/logout">Logout</a>

    </body>
</html>