<html>
    <head>
        <title>User Logout Page </title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome To My Application Based on EJS ,User Logout Page </h1>

        <ul>
            <li><a href="/user/">Home Page User</a></li>
            <li><a href="/user/epuser">Edit Profile Page</a></li>
            <li><a href="/user/cpuser">Change Password Page</a></li>
            <li><a href="/user/logout">Logout</a></li>
        </ul>

    </body>
</html>